<!DOCTYPE html>
{% extends 'flatpages/default.html' %}
{% load static %}

{% block idpage %}home{% endblock %}

{% block title %}
Главная
{% endblock %}

{% block header %}
Добро пожаловать на новостной портал
{% endblock %}

{% block count %}
<br>
{% endblock %}

{% block image %}
{% static 'assets/home.jpg' %}
{% endblock %}

{% block content %}
<hr>
<p class="fs-5 mb-4">Вы на главной странице новостного портала. Для просмотра новостей перейдите к пункту меню <a class="content-link" href="/news/">Новости</a>.</p>
<p class="fs-5 mb-4">Мы предлагаем широкий спектр статей и новостей, связанных с образованием. Наша миссия – помочь вам быть в курсе последних тенденций в мире образования, а также предоставить полезные советы и рекомендации по выбору карьеры, поступлению в университет или повышению квалификации.</p>
<p class="fs-5 mb-4">IT является одной из самых динамично развивающихся отраслей в мире. Мы освещаем последние новости в области технологий, проводим интервью с ведущими экспертами и представляем вам самые важные инновации в IT-сфере. Будьте в курсе последних достижений и будущих трендов в мире технологий с нашими статьями и новостями.</p>
<p class="fs-5 mb-4">Культура – важная часть нашей жизни. Мы с радостью предлагаем вам обзоры самых интересных выставок, фестивалей, концертов и премьер в мире искусства. Вы узнаете о новых талантах и известных художниках, о самых актуальных культурных событиях и трендах. Погрузитесь в мир искусства с нашими статьями!</p>
<p class="fs-5 mb-4">Экономика – это неотъемлемая часть нашей повседневной жизни. Мы предлагаем вам аналитику и комментарии экспертов, освещаем важные макроэкономические события и новости в мире бизнеса. Будьте в курсе изменений на рынке и прогнозов экономического развития с нашими материалами.</p>
<p class="fs-5 mb-4">На нашем портале вы также найдете актуальную информацию о погоде. Будьте готовы к любым изменениям климата с нашими прогнозами и советами по погоде.</p>
<p class="fs-5 mb-4">Мы стремимся быть вашим надежным источником информации во всех этих областях. Добро пожаловать на наш портал и оставайтесь в курсе самых важных событий!</p>
{% endblock %}